# See http://help.github.com/ignore-files/ for more about ignoring files.


# compiled output

/jsminify/dist

/jsminify/tmp

/jsminify/out-tsc


/jsminifyelectron/dist

# dependencies

/jsminify/node_modules


/jsminifyelectron/node_modules


# IDEs and editors

/jsminify/.idea

/jsminify/.project

/jsminify/.classpath

/jsminify/.c9/

/jsminifyelectron/.idea
/jsminifyelectron/.project
/jsminifyelectron/.classpath

/jsminifyelectron/.c9/

*.launch

/jsminify/.settings/

/jsminifyelectron/.settings/
*.sublime-workspace


# IDE - VSCode

/jsminify/.vscode/*

!/jsminify/.vscode/settings.json

!/jsminify/.vscode/tasks.json

!/jsminify/.vscode/launch.json

!/jsminify/.vscode/extensions.json


/jsminifyelectron/.vscode/*

!/jsminifyelectron/.vscode/settings.json

!/jsminifyelectron/.vscode/tasks.json

!/jsminifyelectron/.vscode/launch.json

!/jsminifyelectron/.vscode/extensions.json
# misc

/jsminify/.vscode/.sass-cache

/jsminify/.vscode/connect.lock

/jsminify/.vscode/coverage

/jsminify/.vscode/libpeerconnection.log

/jsminify/.vscodenpm-debug.log

/jsminify/.vscodetestem.log

/jsminify/.vscode/typings
/jsminifyelectron/.sass-cache

/jsminifyelectron/connect.lock

/jsminifyelectron/coverage

/jsminifyelectron/libpeerconnection.log

/jsminifyelectronnpm-debug.log

/jsminifyelectrontestem.log

/jsminifyelectron/typings


# e2e

/jsminify/e2e/*.js

/jsminify/e2e/*.map


/jsminifyelectron/e2e/*.js

/jsminifyelectron/e2e/*.map

# System Files

/jsminify/e2e/.DS_Store

/jsminify/e2e/Thumbs.db

/jsminifyelectron/.DS_Store

/jsminifyelectron/Thumbs.db

# mysetting
/jsminifyelectron/WinApp-win32-x64